body{background-color: #F4F4F4 }

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #24c1b8;
	left: 0;
}

li{
	float: left;	
}
li a{
	display : block;
	font-size: 20px;
	color: white;
	text-align:	center;
	padding: 14px;
	text-decoration: none;
	cursor: pointer;
}
li:hover{
	background-color: rgba(0,0,0,1);
}
.active{background-color: rgba(0,0,0,0.3);}

/*Estilo para GALERIA1*/
#contenedor{
	background:#FFF;
	margin:0 auto;
	width:970px;
}
#contenedor h1{
	color:#0040FF;
	margin:10px 0;
	padding:5px;
	margin-top:80px;
	text-align:center;	
}
h2{
	color:#FFF;	
}
article .interno{
	background-color:#24c1b8 ;
	padding:10px;
	margin:10px;
	border: 1px solid #000;

}
.contenido{
	display:flex;
	flex-wrap:wrap;
	
	
}
.Titulo{
	padding:2px;
	margin-left:2px;
	background-color:rgba(0,0,0,0.3);
	color:white;
	width:148px;
	height:20px;
	margin-bottom:2px;
}

p{
	color:#2E64FE;
	font-weight:bold;
	margin-bottom:1px;
}
.vertical{
	padding:2px;
	margin-left:1px;
	
	background-color:#FFF;
	font-size:14px;
	width:148;
	height:120px;
	margin-bottom:1px;
	margin-top:1px;
}
.vinculo{
	margin-top:25px;
	display:block;
	color:purple;
}
footer{
	text-align:center;
	background-color:#24c1b8;
	margin: 0 auto;
	color:white;	
}
footer cite a{color:white;
	text-decoration:none;
}
/*Estilo para GALERIA2*/
ol{
	list-style-type: none;
	
	
}

/*section .galeria{
	background:purple;
	height:160px;
	
}
section .galeria img{
	width:120px;
	height:120px;
	
}
.titular{
	color:purple;
	text-align:center;
}*/

.titular{
	color:#3A40FA ;
	background:white;
	text-align:center;
	font-size:18px;
	margin-bottom:2px;
	height:20px;
	padding:1px;
}
section .galeria img{
	padding:0;
	margin:0;
	margin-left:0px;
	

	
	width:120px;
	height:90px;
	margin-bottom:1px;

	overflow:hidden;
	border-radius:15px;
	vertical-align:top;
	
}
section .galeria{
	background:#24c1b8;
	height:120px;

}

/*ANIMACIONES PARA BOTONES*/
button{
	background-color: #24c1b8; 
    color: white; 
    border: 2px solid #24c1b8;
	border-radius:4px;
	width:100px;
	height:50px;
	cursor: pointer;
	margin-left:25%;
}
button:hover{
	background-color: white;
    color: black;
	font-weight:bold;
	width:100px;
	height:50px;
	cursor: pointer;
}
button:active {
  background-color: #24c1b8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*IMAGENES DE ABAJO*/

.imagen{
	margin:0 auto;
	padding:10px;
/*position:absolute;
display: flex;
justify-content: center;
align-items: center;*/
margin-left:25%;

	
}
.tab div{
	display:none;
}
.tab div:target{
	display:block;
}

/*ESTILOS PARA EL INDEX IMAGENES*/
/*CARRUSEL*/
.aaa{
	
	width:915px;
	height:420px;
	margin: 0 auto;
}
.interno{
	background-color:black ;
	padding:10px;
	margin:10px;	
}
.carr h1{
	color:black;
}
/*TAMAÑO IMAGEN DE ABAJO DEL MENU COTIZACIONES*/
.imaTamaño{
	height:200px;
	width:300px;	
}
.imagennn{
	text-align:center;
	margin:0 auto;
	padding:10px;
}
form{width: 400px; margin:0 auto; margin-top:30px; text-align:left;}
form label{display: inline-block; width: 140px; font-weight: bold; margin-right:1px;}
form input{width: 220px; padding: 5px; margin-bottom: 5px;}

form input[type="checkbox"]{width: 220px; padding: 3px; margin-bottom:5px;}
form input[type="date"]{width: 220px; padding: 3px; margin-bottom:  5px;}
form input[type="button"]{
	background-color: #24c1b8; 
    color: white; 
    border: 2px solid #24c1b8;
	border-radius:4px;
	width:150px;
	height:40px;
	cursor: pointer;
	text-align:center;
}

label{display: inline-block; width: 80px; font-weight: bold; margin-right:0px;margin-top:10px; text-align:left;}
input{width: 180px; padding: 1px; margin-bottom: 5px;text-align:left;}

form input[type="button"]:hover{
	background-color: white;
    color: black;
	font-weight:bold;
	width:150px;
	height:40px;
	cursor: pointer;
}
form input[type="button"]:active {
  background-color: #24c1b8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}